
<div class="container mt-5">
  <div class="text-center mb-4">
    <h2>Login to Goty</h2>
    <p>Please fill the follow fields</p>
  </div>
  <div class="container-form">
    <div class="text-center mb-3">
      <img src="assets/images/angular.png" alt="Game of the year | Goty" width="60" height="60">

    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com">
      </mat-form-field>
    
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="example-button-row">
      <button class="save-login" mat-raised-button color="primary">Login</button>
    </div>
    <hr>
    <div>
      <div id="g_id_onload"
         data-client_id="736506785330-4gdh43dddg9bd1gjkohdfi1iu1puclr2.apps.googleusercontent.com"
         data-callback="handleCredentialResponse"
         data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
    </div>
  </div>
</div>